#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex__container {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  column-gap: 20px;
  row-gap: 30px;
}

.book__list {
  height: 300px;
  width: 300px;
  border-radius: 7px;
  background-color: darkgray;
  color: black;
}